################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_src/.vs
/_src/blockChainManager/bin/Debug/net8.0
/_src/blockChainManager/obj
/_src/blockChainManagerTests/bin
/_src/blockChainManagerTests/obj
/_src/TestResults
